.plan {
  background-image: url(./img/background.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
}

.button {
  margin: 1em;
}

.player-1 {
  color: red;
}

.player-2 {
  color: green;
}
