.app {
  background-image: linear-gradient(#d5f6ff, #ffffff);
  min-height: 100vh;
}

h1 {
  font-family: 'Jura';
  font-size: 24px;
  color: #a32300;
  text-align: center;
  padding: 5px 0;
  margin: 0px;
}

@media screen and (min-width: 576px) {
  h1 {
    font-size: 40px;
    padding: 20px 0;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 48px;
    padding: 20px 0;
  }
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 60px;
    padding: 15px 0;
  }
}
